apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia-config
  namespace: authelia
  labels:
    app.kubernetes.io/name: authelia
    app.kubernetes.io/part-of: homelab
data:
  configuration.yml: |
    theme: dark
    default_redirection_url: https://lab.axiomlayer.com

    server:
      host: 0.0.0.0
      port: 9091

    log:
      level: info

    totp:
      issuer: lab.axiomlayer.com

    authentication_backend:
      file:
        path: /config/users_database.yml

    access_control:
      default_policy: deny
      rules:
        - domain: "*.lab.axiomlayer.com"
          policy: one_factor

    session:
      name: authelia_session
      domain: lab.axiomlayer.com
      expiration: 3600
      inactivity: 300
      remember_me_duration: 1M

    regulation:
      max_retries: 3
      find_time: 120
      ban_time: 300

    storage:
      local:
        path: /data/db.sqlite3

    notifier:
      filesystem:
        filename: /data/notification.txt
