apiVersion: v1
kind: ConfigMap
metadata:
  name: litestream-config
  namespace: pocketbase
  labels:
    app.kubernetes.io/name: pocketbase
    app.kubernetes.io/component: backup
    app.kubernetes.io/part-of: homelab
    app.kubernetes.io/managed-by: argocd
data:
  litestream.yml: |
    dbs:
      - path: /pb_data/data.db
        replicas:
          - type: s3
            bucket: litestream-backups
            path: pocketbase
            endpoint: http://minio.minio.svc:9000
            force-path-style: true
