apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: plane
resources:
  - certificate.yaml
patches:
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: plane-ingress
