apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  url: https://argocd.lab.axiomlayer.com
  oidc.config: |
    name: Authentik
    issuer: https://auth.lab.axiomlayer.com/application/o/argo-cd/
    clientID: REPLACE_ME
    clientSecret: $oidc.authentik.clientSecret
    requestedScopes: ["openid", "profile", "email"]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  namespace: argocd
data:
  server.insecure: "true"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  namespace: argocd
data:
  policy.csv: |
    g, jasen, role:admin
  scopes: "[email]"
